<div class="page-container justify-center">
    <h1 class="md-title">Inscription</h1>

    <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
            <form class="space-y-6" (ngSubmit)="onSubmit()">
                <div>
                    <label
                        for="email"
                        class="block text-sm leading-6 font-medium text-gray-900"
                        >Adresse e-mail
                    </label>
                    <div class="mt-2">
                        <input
                            id="email"
                            [(ngModel)]="email"
                            name="email"
                            type="email"
                            autocomplete="email"
                            required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                                ring-gray-300 ring-inset placeholder:text-gray-400 focus:ring-2
                                focus:ring-indigo-600 focus:ring-inset sm:text-sm sm:leading-6"
                        />
                    </div>
                </div>

                <div>
                    <label
                        for="email"
                        class="block text-sm leading-6 font-medium text-gray-900"
                        >Nom d'utilisateur
                    </label>
                    <div class="mt-2">
                        <input
                            id="username"
                            [(ngModel)]="username"
                            name="username"
                            type="text"
                            (input)="onUserNameChange($event)"
                            autocomplete="email"
                            required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                                ring-gray-300 ring-inset placeholder:text-gray-400 focus:ring-2
                                focus:ring-indigo-600 focus:ring-inset sm:text-sm sm:leading-6"
                        />
                    </div>
                    <div
                        *ngIf="usernameTaken"
                        class="text-xs font-semibold text-red-500"
                    >
                        Ce nom d'utilisateur est déjà pris.
                    </div>
                    <div
                        *ngIf="usernameTooLong"
                        class="text-xs font-semibold text-red-500"
                    >
                        Le nom d'utilisateur est limité à 20 caractères.
                    </div>
                </div>

                <div>
                    <label
                        for="password"
                        class="block text-sm leading-6 font-medium text-gray-900"
                        >Mot de passe</label
                    >
                    <div class="mt-2">
                        <input
                            id="password"
                            [(ngModel)]="password"
                            name="password"
                            type="password"
                            autocomplete="current-password"
                            required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1
                                ring-gray-300 ring-inset placeholder:text-gray-400 focus:ring-2
                                focus:ring-indigo-600 focus:ring-inset sm:text-sm sm:leading-6"
                        />
                    </div>
                </div>

                <div>
                    <button
                        type="submit"
                        class="flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm leading-6
                            font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline
                            focus-visible:outline-2 focus-visible:outline-offset-2
                            focus-visible:outline-indigo-600"
                    >
                        Créer un compte
                    </button>
                </div>
            </form>

            <div class="mt-2 w-full text-center text-sm">
                Vous avez déjà un compte ?
                <a href="/auth/login" class="font-semibold hover:underline">
                    Connectez-vous ici.</a
                >
            </div>
        </div>
    </div>
</div>
